/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #F1B2CE);

  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size, 18px);
  font-weight: var(--main-font-weight, 400);
  line-height: var(--main-line-height, 130%);
  font-style: normal;

  background: fixed var(--bg-color, #000028) var(--bg-image) no-repeat center / cover;
}

.margined-content {
  margin-inline: var(--padding, 10px);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--shadow-color, #FF0070);
}

.link:hover {
  border-block-end: 1px solid var(--text-color, #F1B2CE);
}

.link:focus-visible {
  text-decoration-line: none;
  outline: 1px solid var(--text-color, #F1B2CE);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-color, #DB00FF);
}

.title-decor {
  color: var(--decor-text-color, #000028);
  background: var(--decor-bg-color, #FF0070);
  font-size: var(--main-font-size, 18px);
}

.corner-frames {
  position: relative;
  min-block-size: 668px;
  block-size: 100vh;
}

.corner-frames::before,
.corner-frames::after {
  content: "";
  position: absolute;
  display: block;
  block-size: var(--header-corner-width, 25px);
  inline-size: var(--header-corner-width, 25px);
}

.corner-frames::before {
  border-top: 2px solid var(--accent-color, #FF0070);
  border-right: 2px solid var(--accent-color, #FF0070);
  inset-block-start: var(--padding, 10px);
  inset-inline-end: 0;
}

.corner-frames::after {
  border-bottom: 2px solid var(--accent-color, #FF0070);
  border-left: 2px solid var(--accent-color, #FF0070);
  inset-block-end: var(--padding, 10px);
  inset-inline-start: 0;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.header__lamp {
  position: absolute;
  display: flex;
  justify-self: end;
  gap: var(--padding, 10px);
  color: var(--accent-color);
  text-align: center;
  margin-block-start: var(--padding, 10px);
}

.header__lamp::after {
  content: '';
  align-self: center;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline-end: var(--padding, 10px);
}

.heading {
  text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
  justify-self: flex-start;
  grid-column: span 2;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  grid-column: span 2;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding, 10px);
}

.header__theme-menu-item {
  color: var(--accent-color, #FF0070);
  min-inline-size: 70px;
}

.header__theme-menu-button {
  color: var(--accent-color, #FF0070);
  cursor: pointer;
  border: none;
  background-color: transparent;

  text-transform: lowercase;
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--theme-switcher-button-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color, #FF0070);
}

.header__paragraph {
  justify-self: flex-end;
  align-self: center;
  grid-column: span 2;
  margin-block-end: var(--padding, 10px);
}

.content {
  display: grid;
  gap: 50px;
}

.content__section {
  display: grid;
}

.content__section-title {
  color: var(--accent-color, #FF0070);
  font-size: var(--main-font-size, 18px);

  grid-area: title;
}

.content__section-item__subtitle {
  font-weight: 400;
}

.content__section-item {
  display: grid;
  gap: var(--padding, 10px);
}

.content__section-item__paragraph {
  font-weight: 400;
}

.content__section-gallery {
  gap: var(--padding, 10px);
}

.content__section-gallery__container {
  display: grid;
  gap: var(--padding, 10px);
}

.content__section-gallery__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.img_sunset {
  grid-area: img_sunset;
}

.img_ice-cream {
  grid-area: img_ice-cream;
}

.img_tape {
  grid-area: img_tape;
}

.img_books {
  grid-area: img_books;
}

.img_street {
  grid-area: img_street;
}

.article_container {
  display: grid;
  gap: 20px;
  grid-area: article;
}

.footer {
  display: grid;
}

.footer-title {
  text-shadow: 2px 2px 0px var(--shadow-color, #FF0070);
  justify-self: center;
  align-self: center;

}

@media (375px <=width <768px) {
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .content {
    padding-block-start: 40px;
  }

  .content__section {
    grid-template-areas:
      'title'
      'article';
    gap: 20px;
  }

  .content__section-gallery {
    gap: 10px;
  }

  .content__section-gallery__container {
    grid-template-areas:
      'img_sunset'
      'img_ice-cream'
      'img_tape'
      'img_books'
      'img_street';
  }

  .footer {
    margin-block-start: 40px;
  }
}

@media (768px <=width) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -5px;
  }

  .content {
    margin-block-start: 60px;
    gap: 80px;
  }

  .corner-frames {
    block-size: 1024px;
  }

  .margined-content {
    margin-inline: 20px;
  }

  .header__lamp {
    margin-block-start: 20px;
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__paragraph {
    grid-column-start: 2;
  }

  .heading {
    align-self: flex-end;
  }

  .section_why {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title article'
      '. article';
    gap: 17px;
  }

  .section_what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title . .'
      'article article article';
    gap: 20px;
  }

  .section_how {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title article article';
    gap: 19px;
  }

  .section_how .article_container {
    margin-left: 7px;
  }

  .content__section-gallery__container {
    padding-block-start: var(--padding, 10px);
    inline-size: 100%;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    grid-template-areas:
      'img_sunset img_sunset img_ice-cream'
      'img_tape img_books img_ice-cream'
      'img_tape img_street img_street';
  }

  .footer {
    margin-block-start: 68px;
  }
}


@media (1024px <=width) {

  .title {
    margin-inline-start: -20px;
  }

  .corner-frames {
    block-size: 768px;
  }

  .content {
    gap: 80px;
    padding-block-start: 0px;
  }

  .header__paragraph {
    grid-column-start: 2;
    margin-block-end: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: var(--padding, 10px);
  }

  .section_why {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title article article';
  }

  .section_what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 20px 20px;
  }

  .section_what .article_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_what .content__section-item {
    grid-template-rows: 23px auto;
  }

  .section_how {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title article article';
  }

  .section_how .article_container {
    margin-left: 0;
  }
}